/* ========= */
/* CSS RESET */
/* ========= */

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
/*  overflow: auto;*/
}

button > label { cursor: pointer; }

/*h1, h2, h3, h4 { margin-bottom: 0.3em; }*/

a, a:visited { color: darkslateblue; }

input, select, textarea { padding: 3px 5px; }

section { margin-top: 3em; }


/* ======= */
/* UTILITY */
/* ======= */

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  flex-basis: 230px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-center {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.red {
  color: crimson;
}

.blue {
  color: cornflowerblue;
}

.green {
  color: seagreen;
}

.clearfix {
   overflow: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container-fixed {
  border: 0;
  padding: 0;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.content {
  padding: 0 2em;
}


/* ========== */
/* COMPONENTS */
/* ========== */

/* Site Header */
#site-header {
  box-shadow: 0 0 7px 0px blanchedalmond;
  border-left: 0;
  border-right: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em 0;
  width: 100%;
}

#site-header .container-fixed {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

#site-brand {
  display: flex;
  align-items: center;
  height: 67px;
  /* min-width: 150px; */
  text-decoration: none;
}

#site-logo {
  height: 90%;
  margin-right: 0.3em;
}

#site-name {
  font-family: serif;
  font-style: italic;
  color: darkslateblue;
  margin: 0;
  min-width: 160px;
  font-size: 1.1rem;
  /* white-space: nowrap; */
}

#site-name > small {
  color: orangered;
  display: block;
}

#site-nav {
  padding: 0;
}

.navbar,
.navbar > nav {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-toggle {
  border: 0;
  background: white;
  display: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.nav-toggle:hover {
  background: whitesmoke;
}

.nav-toggle span {
  background: darkslateblue;
  display: block;
  height: 3px;
  margin: 0.34em 0;
  width: 1.8em;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li > a {
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.5em;
  line-height: 1em;
  text-decoration: none;
}

nav li > a:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
}

/*.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  flex: auto;
}
*/
#auth-nav {
  display: flex;
  align-items: center;
  padding: 0;
}

#auth-nav form {
  margin: 0.34em 0 0.34em 1em;
  text-align: center;
}

#auth-nav button {
  border: 1px solid slateblue;
  padding: 0.5em 1em 0.6em;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 0.5em;
}

#auth-nav button:hover {
  background-color: lavenderblush;
  border-color: orangered;
  color: orangered;
}


/* Site Content */
main {
  padding: 0;
}

#site-footer {
  padding: 0.5em 1em;
  background: whitesmoke;
  margin-top: 1em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}



/* =============== */
/* COMPONENT TYPES */
/* =============== */


/* Buttons */
.btn:hover {
  background-color: whitesmoke;
}

.btn {
  border: 1px solid;
  white-space: nowrap;
  padding: 0.4em 1em;
  line-height: 1em;
  cursor: pointer;
  text-decoration: none;
}

.btn-login {
  border-color: slateblue;
  text-align: center;
  margin: 0 0.5em;
  padding: 0.5em 1.34em 0.6em;
}

.btn-login:hover {
  border: 1px solid green;
  background-color: white;
  color: green;
}

.btn-cta {
  background: orange;
  border: 1px solid transparent;
  color: white;
  border-radius: 50px;
  text-align: center;
}

.btn-cta:visited {
  color: white;
}

.btn-cta:hover {
  background: yellowgreen;
  border-color: yellowgreen;
  color: white;
}

.btn-link {
  padding: 1px 0.3em;
}

a.btn-pager {
  background: whitesmoke;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
  padding: 0 0.5em;
}


/* Modals */
#toggle-modal:checked + .modal {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: no-drop;
}

.modal-inner {
  background: white;
  border: 1px solid gainsboro;
  margin: 4em auto;
  max-width: 640px;
  padding: 1em;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 10px 0px gainsboro;
  cursor: default;
}

.modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  opacity: 0.8;
  z-index: 0;
}


/* Fields */
.field {
  margin-bottom: 1.5em;
}

.field label {
  display: block;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.8em;
  margin-bottom: 2px;
  color: #222;
}

.field input, .field textarea, .field select {
  min-width: 280px;
  padding: 0.3em 0.5em;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

.field .checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  min-width: auto;
  margin-right: 1em;
  cursor: pointer;
}

.radio input {
  min-width: auto;
}

.number input {
  min-width: auto;
  max-width: 12em;
}

.currency input {
  min-width: auto;
  max-width: 12em;
}

.add-on {
  background: #eee;
  border: 1px solid gainsboro;
  padding: 0.2em 0.5em;
}

.add-on-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.add-on-left+input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggle+.container {
  background: lavender;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-left: 0.2em;
}

.container .field:last-of-type {
  margin: 0;
}


/* Tabs */

.tabbar {
  border-bottom: 1px solid gainsboro;
  margin: 1.34em 0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  padding: 0;
  position: relative;
  margin: 3px 0 0 3px;
  display: inline-block;
  height: 1.67em;
}

.tabs label {
  background: whitesmoke;
  border: 1px solid gainsboro;
  border-bottom: 0;
  cursor: pointer;
  padding: 0.3em 1.34em;
  position: relative;
  top: 5px;
}

.tabs .active label {
  background: white;
  border-top-color: orangered;
  border-top-width: 2px;
  cursor: default;
  padding: 0.34em 1.5em;
  top: 5px;
  z-index: 1;
}

.tab-select {
  position: absolute;
  left: -99999;
  opacity: 0;
  height: 0;
}

.tab-content {
  display: none;
}

.tab-select:checked+.tab-content {
  display: block;
}


/* Pagers */
.pager {
  display: flex;
  align-items: center
}

.pager input {
  width: 3em;
  text-align: center;
}

.pager span { line-height: 1.67em; }


/* Inputs */
.input-group {
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  /* position: relative; */
}

.add-after {
  border: 1px solid grey;
  border-left: 0;
}

button.add-after {
  cursor: pointer;
}


/* List Items */
.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 0.15em 0;
  flex-wrap: wrap;
}

.list-item:hover {
  background: whitesmoke;
}

.list-item > span {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.list-item .actions > * {
  margin: 0.15em;
}

.btn-delete {
  display: none;
}

.showdelete .btn-delete {
  display: inline-block;
}


/* Checklist */
.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checklist li {
  border: 1px solid gainsboro;
  margin: 8px 0;
  /*box-shadow: 1px 1px 5px 0 gainsboro;*/
  padding: 0.67em 1em;
  background: whitesmoke;
  cursor: pointer;
}

.checklist label {
  display: flex;
  align-items: center;
}

.checklist input {
  margin-left: 0;
  margin-right: 1em;
}


/* Mini Card Cloud */
.mini-card-cloud {
  display: flex;
  flex-wrap: wrap-reverse;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mini-card-cloud li {
  display: flex;
  margin: 0.34em;
  cursor: pointer;
}

.mini-card-head,
.mini-card-body {
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  display: flex;
}

.mini-card-head {
  border-right: none;
  padding: 0.67em 1.34em;
}

.mini-card-body {
  padding: 0.67em 0.67em;
}


/* Bars */
#tools-list footer,
.search-bar, .list-header {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  flex-wrap: wrap;
  background: oldlace;
  align-items: center;
}

/*#tools-list footer > * {
  margin: 0.5em;
}
*/
.actionbar {
  margin-top: 1.5em;
}

.search-bar input {
  min-width: 90px;
  text-align: left;
}


/* Stars */
@charset "UTF-8";
:root {
  --star-size: 28px;
  --star-background: orange;
  --star-color: lavender;
}
.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  /* font-family: Times; */
  line-height: 0.5;
}
.stars::after {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg,
    var(--star-background)
    var(--percent),
    var(--star-color)
    var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stars > p { font-size: 14px; }

@media all and (max-width:910px) {
  .navbar > a {
    padding: 0.67em 0.8em;
  }
  .login-btn {
    margin-left: 0.8em;
  }
}

@media all and (max-width: 767px) {
  #site-name {
   font-size: 1.1rem;
  }
  #site-brand { height: 90px; }
  .navbar > nav {
    position: absolute;
    display: flex;
    background: white;
    box-shadow: 0 0 7px 2px gainsboro;
    left: -300px;
    padding: 1em 0.5em;
    top: 0;
    flex-direction: column-reverse;
    max-width: 280px;
    height: 100%;
    justify-content: flex-end;
    transition: left 300ms;
    width: 80%;
  }
  .navbar > nav.open {
    display: flex;
    left: 0;
  }
  .navbar > .nav-toggle {
    display: inline-block;
    margin-left: auto;
  }
  .navbar ul,
  .navbar li,
  .navbar a {
    display: block;
  }
  #auth-nav {
    padding: 0.5em 0.5em 1em;
  }
}